<footer id="footer">
  <div class="container">
    <p class="pull-left copyright"><%= Settings.app_title %> © 2015 | <%= link_to'Aide',static_pages_help_path %></p>
    <p class="pull-right credit">Réalisé par Quentin Claudon</p>
  </div>
</footer>
