<nav class="navbar navbar-fixed-top navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'MUNCHKIN', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <%= nav_link "Profil : #{current_user.login}", edit_user_registration_path %>
            <li><%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete, class: 'navbar-link' %></li>
        <% else %>
            <li><%= link_to 'Connexion', new_user_session_path, class: 'navbar-link' %></li>
        <% end %>
      </ul>
      <!-- Left Nav Section -->
      <% if user_signed_in? %>
          <ul class="nav navbar-nav">

            <li class="divider"></li>
          </ul>
      <% end %>
    </div>
  </div>
</nav>