<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Munchkin", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>


            <%= nav_link "Profil : #{current_user.login}", edit_user_registration_path %>

            <li><%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete, class: 'navbar-link' %></li>
        <% else %>
            <li><%= link_to 'Connexion', new_user_session_path, class: 'navbar-link' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>